/RemoteCtrl/.vs/
/RemoteCtrl/x64/
/RemoteCtrl/RemoteCtrl/x64/
/RemoteCtrl/RemoteCtrl/*.dll
/RemoteCtrl/RemoteCtrl/*.pdb
/RemoteCtrl/RemoteCtrl/RemoteCtrl.vcxproj
/RemoteCtrl/RemoteCtrl/RemoteCtrl.vcxproj.filters
/RemoteCtrl/RemoteCtrl/RemoteCtrl.aps
/RemoteCtrl/RemoteCtrl/RemoteCtrl.vcxproj.user
/RemoteCtrl/RemoteClient/x64/
/RemoteCtrl/RemoteClient/res/
/RemoteCtrl/RemoteClient/RemoteClient.vcxproj
/RemoteCtrl/RemoteClient/RemoteClient.vcxproj.filters
/RemoteCtrl/RemoteClient/RemoteClient.aps
/RemoteCtrl/RemoteClient/RemoteClient.vcxproj.user